<html>
<head>
<meta charset="ISO-8859-1">
<title>logging</title>
</head>
<body>

    <a href = "index.html">Home</a>
<h1>Sign up for premium</h1>

<div class="form-group">
<form action="/processform" method="post">

<label for="firstname">First name :</label> <br/>
<input type="text" name="fname" if=first/> <br/>

<label for="lastname">Last name :</label> <br/>
<input type="text" name="lname" id=last/> <br/>

<label for="email">Email :</label> <br/>
<input type="email" name="email"/> <br/>

<label for="dob">DoB :</label> <br/>
<input type="date" name="dob"/> <br/>

<label for="password">Password :</label> <br/>
<input type="password" name="passwd"/> <br/>

<label for="gender">Gender :</label> <br/>
<select name="gender">
		<option value=""></option>
		<option value="male">Male</option>
		<option value="female">Female</option>
</select> 
<br/>
<label for="credit">Credit Card info</label> <br/>
<input type="Credit" name="credit"/> <br/>
<br/>
<button type="submit" class="btn btn-sucess">Submit</button>
</form>
<br/>
</div>
</body>
</html>
